auxdata/trees/mini-millennium/trees_063.4 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.5 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.6 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.7 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.0 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.1 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.2 filter=lfs diff=lfs merge=lfs -text
auxdata/trees/mini-millennium/trees_063.3 filter=lfs diff=lfs merge=lfs -text
